body {
    background-image: url(../img/bg.gif);
}

#Chat {
	padding-top: 0px !important;
	padding-bottom: 20px !important;
    position: relative;
    margin-left: 1px;
	width: 550px !important;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* color themes */
.gray {
    background: #f5f5f5;
    border-color: #f5f5f5;;
}
div.gray-theme:after {
    border-top-color: #f5f5f5;
}
.purple {
    background-color: #e7ddfc;
    border-color: #e7ddfc;
}
div.purple-theme:after {
    border-top-color: #e7ddfc;
}
.blue {
    background-color: #63B8FF;
    border-color: #63B8FF;
}
div.blue-theme:after {
    border-top-color: #63B8FF;
}
.cyan {
    background-color: #00FFFF;
    border-color: #00FFFF;
}
div.cyan-theme:after {
    border-top-color: #00FFFF;
}
.green {
    background-color: #00FF7F;
    border-color: #00FF7F;
}
div.green-theme:after {
    border-top-color: #00FF7F;
}
.red {
    background-color: #FF7256;
    border-color: #FF7256;
}
div.red-theme:after {
    border-top-color: #FF7256;
}
.yellow {
    background-color: #FFD700;
    border-color: #FFD700;
}
div.yellow-theme:after {
    border-top-color: #FFD700;
}
.pink {
    background-color: #EEA9B8;
    border-color: #EEA9B8;
}
div.pink-theme:after {
    border-top-color: #EEA9B8;
}
.greenyellow {
    background-color: #7FFF00;
    border-color: #7FFF00;
}
div.greenyellow-theme:after {
    border-top-color: #7FFF00;
}
.salmon {
    background-color: #EE8262;
    border-color: #EE8262;
}
div.salmon-theme:after {
    border-top-color: #EE8262;
}
/* color themes end */

div.item.message.in {
	display: block;
	width: 100%;
	margin: 5px 0 0;
	padding: 0;
	overflow: hidden;
}
div.item.message.out {
	display: block;
	width: 100%;
	text-align: right;
	overflow: hidden;
	margin-top: 5px;
}
div.item.message.out  .body {
	float: right;
	color: #555;
	text-shadow: rgba(255,254,255,0.6) 0 1px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font: 13px/20px "Helvetica Neue";
	padding: 2px 9px 1px;
	margin-top: -13px;
	margin-right: 61px;
	margin-left: 6px;
	clear: both;
	text-align: left;
	max-width: 55%;
	word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
}
div.item.message.in  .body {
	float: left;
	color: #555;
	text-shadow: rgba(255,254,255,0.6) 0 1px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font: 13px/20px "Helvetica Neue";
	padding: 2px 9px 1px;
	clear: both;
	margin-left: 61px;
	max-width: 55%;
	word-wrap: break-word;
	margin-right: 6px;
	margin-top: -13px;
	border-width: 1px;
    border-style: solid;
}
div.item.message.in:before{
	width: 11px;
	height: 11px;
	content: "";
	position: relative;
	display: inline-block;
	float: left;
	top: 23px;
	right: -46px;
}
div.item.message.out:before{
	width: 11px;
	height: 11px;
	content: "";
	position: relative;
	display: inline-block;
	float: right;
	right: 49px;
	top: 23px;
}
div.item.message.in:after {
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	display: inline-block;
	top: 26px;
	left: 50px;
	border-top-width: 11px;
    border-top-style: solid;
	border-left: 11px solid transparent;
}
div.item.message.out:after {
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	display: inline-block;
	right: 50px;
	top: 26px;
	border-top-width: 11px;
    border-top-style: solid;
 	border-right: 11px solid transparent;
}
.name{
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #c0c0c0;
	margin-left: 18px;
	float: left;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: color;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: color;
	margin-top: 3px;
}
div.item.message.out  .name{
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-left: 0;
	margin-right: 18px;
	float: right;
}
span.time {
	font: 11px "Helvetica Neue";
	float: left;
	display: inline-block;
	color: rgba(255, 255, 255, 0);
	position: relative;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: color;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: color;
	top: -6px;
}
div.item.message:hover .time{
	color: #c0c0c0;
}
div.item.message.out  span.time{
	float: right;
}
img.avatar {
	width: 32px;
	height: 32px;
	margin-top: 2px;
	position: relative;
	top: 5px;
}
.avatar.in{
	float: left;
	display: inline-block;
}
.avatar.out{
	float: right;
	position: relative;
	top: 2px;
}

/* animation key frames */
@-moz-keyframes out_avatar {
	0% {
	opacity: 0;
	left: 0px;
}
	67% {
	opacity: 0;
	left: 20px;
}
	100% {
	opacity: 1;
	left: 0;
	}
}
@-moz-keyframes out {
	0% {
	top: 0px;
	opacity: 0;
	}
	67% {
	top: 23px;
	opacity: 0;
	}
	100% {
	top: 0px;
	opacity: 1;
	}
}
@-moz-keyframes in_avatar {
	0% {
	opacity: 0;
	right: 0px;
}
	80% {
	opacity: 0;
	right: 20px;
}
	100% {
	opacity: 1;
	right: 0;
	}
}
@-moz-keyframes in {
	0% {
	top: 0px;
	opacity: 0;
	}
	80% {
	top: 23px;
	opacity: 0;
	}
	100% {
	top: 0px;
	opacity: 1;
	}
}
@-webkit-keyframes out_avatar {
	0% {
	opacity: 0;
	left: 0px;
}
	67% {
	opacity: 0;
	left: 20px;
}
	100% {
	opacity: 1;
	left: 0;
	}
}
@-webkit-keyframes out {
	0% {
	top: 0px;
	opacity: 0;
	}
	67% {
	top: 23px;
	opacity: 0;
	}
	100% {
	top: 0px;
	opacity: 1;
	}
}
@-webkit-keyframes in_avatar {
	0% {
	opacity: 0;
	right: 0px;
}
	80% {
	opacity: 0;
	right: 20px;
}
	100% {
	opacity: 1;
	right: 0;
	}
}
@-webkit-keyframes in {
	0% {
	top: 0px;
	opacity: 0;
	}
	80% {
	top: 23px;
	opacity: 0;
	}
	100% {
	top: 0px;
	opacity: 1;
	}
}
/* keyframes end */

/* animations */
img.avatar.out {
	-webkit-animation-name: out_avatar;
	-webkit-animation-duration: 0.5s;
	-moz-animation-name: out_avatar;
	-moz-animation-duration: 0.5s;
}
div.message.out {
	-webkit-animation-name:out;
	-webkit-animation-duration: 0.5s;
	-moz-animation-name:out;
	-moz-animation-duration: 0.5s;
	position: relative;
}
img.avatar.in {
	-webkit-animation-name: in_avatar;
	-webkit-animation-duration: 0.5s;
	-moz-animation-name: in_avatar;
	-moz-animation-duration: 0.5s;
}
div.message.in {
	-webkit-animation-name:in;
	-webkit-animation-duration: 0.5s;
	-moz-animation-name:in;
	-moz-animation-duration: 0.5s;
	position: relative;
}
/* animations end */
input[type="text"] {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 5px;   
    height: 21px;
    text-indent: 6px;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
    width: 206px;
    float: none;
    margin-left: 0;
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 20px;
    vertical-align: middle;
    min-height: 1px;
    font-weight: normal;
    margin: 0;
}
input[disabled] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
}
input[type="text"]:focus {
    border-color: #5bb75b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}
#input {
    margin-top: 10px;
    width: 538px !important;
}
#controls {
    margin-top: 4px;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.left {
    margin-left: 100px;
    margin-top: 60px;
    width: 560px;
    float: left;
}
.right {
    float: left;
    margin-top: 60px;
    margin-left: 50px;
}
#status {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.disconnect {
    background-color: #FF4040;
}
.connect {
    background-color: #7CFC00;
}
.clearfix:after{content:".";display:block;visibility:none;height:0;clear:both;}
.clearfix{zoom:1;display:inline-block;}




