<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A simple web chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}">
    <link href="{{ url_for('.static', filename='css/base.css') }}" rel="stylesheet" media="screen">
</head>

<body class="clearfix">
<div class="left">
    <div id="Chat">
    </div>
    
    <input type="text" id="input" value="未连接" disabled='disabled'>
</div>
<!--
<div class="right">    
    <div id="controls">
        <div id="status" class="disconnect"></div>
    </div>
</div>
-->
<script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('.static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('.static', filename='js/chat.js') }}"></script>
</body>
</html>
